/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

@media (min-width: 1200px) and (max-width: 1366px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 0.9375rem;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  body {
    font-size: 0.8125rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 0.6875rem;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 0.625rem;
  }
}